directory: E:\Media Library\Music
library: E:\Media Library\Data\musiclibrary.db
import:
  incremental: yes
  incremental_skip_later: yes
  log: beets_import_log.txt
  #copy: yes
  move: yes
  write: yes

duplicate_keys:
  album: albumartist album media year
  item: artist title media year

# Plugins
plugins: 
  - bandcamp
  - copyartifacts
  - deezer
  - discogs
  - duplicates
  - embedart
  - fetchart
  - fromfilename
  - inline
  - importadded
  - importreplace
  - musicbrainz
  - mbsubmit
  - replaygain
#  - rewrite
  - the
  - titlecase
  - unimported

bandcamp:
  art: True

# https://github.com/adammillerio/beets-copyartifacts
copyartifacts:
  extensions: .cue .log .yaml .m3u

discogs:
  index_tracks: no
  search_limit: 10
  data_source_mismatch_penalty: 0.1
  append_style_genre: True
# anv:
#    artist: True
#    album_artist: True

musicbrainz:
  data_source_mismatch_penalty: 0.1
  genres: yes
  extra_tags: [catalognum, label, media, year]

deezer:
  data_source_mismatch_penalty: 0.3

bandcamp:
  data_source_mistmatch_penalty: 0.5

unimported:
  ignore_extensions: jpg png cue txt m3u nfo


titlecase:
  replace:
    - "–": "-"
    - "…": "..."
    - "’": "'"
    - "‘": "'"
    - "´": "'"
    - "“": '"'
    - "”": '"'
    - "″": '"'
  all_caps: yes
  all_lowercase: yes
  fields: [
    'album',
    'albumartist',
    'albumartist_credit',
    'albumartists',
    'albumartists_credit',
    'artist',
    'artist_credit',
    'artists',
    'artists_credit',
    'composer',
    'disctitle',
    'work',
    'title'
  ]
  separators: ["/", "@", "&"]
  preserve: [
    '123mrk',
    '7G',
    'ASC', 'ATFC', 'ATB', 'ATC', 'AWB', 'AIFF', 'ABBA', 'AFX',
    'B So glObal', 'BT', 'CLSM', 'cv313', 'CEP', 'BADBADNOTGOOD',
    'CD', 'Charli XCX',
    'Deepchord', 'DiY', 'DRS', 'dRamatic & dbAudio', 'DNA', 'DJ', "D'Angelo",
    'EQD', 'EP', 'easyFun', 'Erika de Casier', 'em:t', 'ESCM',
    'feat.', 'FAX +49-69/450464', 'Falty DL', 'FabricLive', 'FKA Twigs', 'FBD Project', 'FLAC',
    'GFOTY', 'BK', 'GTO', 'gecs',
    'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X',
    'ICR', 'ISAM',
    'JAKAZiD',
    'KH', 'KLF',
    'LA Synthesis', 'LA Vampires', 'LCD', 'LFO', 'LTJ',
    'MP3',
    'r_AW', 'RCA',
    'USA', 'UK',
    't:me',
    'Y2K'
    ]
importreplace:
  replacements:
# Album & Track Title Replacements
    - album_fields: title album
      item_fields: title album
      replace:
        # Remove (Original Mix) and variations
        (?i) ?[\[\(]original( mix)?[\)\]]: ''
        # Remove brackets around Untitled
        (?i)[\[\(]untitled[\]\)]: 'Untitled'
        # Expand 'ft' to 'feat.'
        (?i)ft\.: 'feat.'
# Genre Replacements
    - album_fields: genre style
      item_fields: genre style
      replace:
        # Normalize to Drum & Bass
        (?i)drum ?[a']?[+n&][d']? ?bass: 'Drum & Bass'
# Label Replacements
    - album_fields: label
      item_fields: label
      replace:
        Evol Intent Recordings: 'Evol Intent'
    - album_fields: artist artist_sort artist_credit artists artists_sort artists_credit
      item_fields: artist artist_sort artist_credit artists artists_sort artists_credit
      replace:
        'A\.T\.F\.C\.?': 'ATFC'
        'V\.A\.G\.A\.B\.O\.N\.D\.?': 'Vagabond'
        '^DJ Rum': 'Djrum'
        'Fantastic Mr Fox': 'Fantastic Mr. Fox'
        'Falty DL': 'FaltyDL'


album_fields:
  quality: |
    qual = ""
    if len(set([item.format for item in items])) != 1 or len(set([item.bitdepth for item in items])) != 1 or len(set([item.samplerate for item in items])) != 1:
      qual += "[MUTT]"
    i = items[0]
    if i.format == "MP3":
      qual += f"[MP3 {i.bitrate // 1000}]"
    else:
      qual += f"[{i.format} {i.bitdepth}-{i.samplerate // 1000}]"
    return qual
  release_info: |
    item = items[0]
    info = ""
    added_year = False
    if item.original_year or item.year:
      if item.original_year:
        info += str(item.original_year)
      else:
        info += str(item.year)
      added_year = True
    if item.catalognum or item.label:
      if added_year:
        info += ", "
      if item.label:
        info += item.label
      if item.catalognum:
        if item.label:
          info += " "
        info += item.catalognum
    if info:
      info = "(" + info + ")"
    return info
item_fields:
  track_no: f"{disc}-{track:02d}" if disctotal > 1 else f"{track:02d}"

# Convert non-ascii characters to ascii
asciify_paths: yes
per_disc_numbering: yes

paths:
  # s/Secret, The/Hold Me!!! Do No Wrong!!! (1999, Secret Records SECT 10) [FLAC 24bit 44khz]/01 - The Secret - Hold Me!!!.flac
  vinyl_rip:1: Vinyl Rips/%lower{%left{%the{$albumartist}, 1}}/%the{$albumartist}/$album $release_info $quality/$track_no - $artist - $title
  default: Digital/%lower{%left{%the{$albumartist}, 1}}/%the{$albumartist}/$album $release_info $quality/$track_no - $artist - $title
  comp: Digital/%lower{%left{%the{$albumartist}, 1}}/%the{$albumartist}/$album $release_info $quality/$track_no - $artist - $title
  ext:log: $albumpath/$artist - $album
  ext:cue: $albumpath/$artist - $album
  ext:m3u: $albumpath/$artist - $album

fetchart:
  sources: filesystem cover_art_url coverart itunes
  maxwidth: 1200

# Set the preffered media to match
match:
  max_rec:
    missing_tracks: low
    unmatched_tracks: low
  preferred:
    original_year: yes
    countries: ['UK|GB', 'US|USA & Canada|United States', 'Germany|DE', 'Japan|JP']
    media: ['CD', 'Digital Media|File']
  ignored_media: ['Data CD', 'Video', 'DVD', 'DVD-Video', 'Blu-ray', 'DTS CD']
  distance_weights:
    track_length: 3.0
    track_index: 2.0
  track_length_grace: 5

replaygain:
  threads: 8
  overwrite: no
  backend: ffmpeg
